@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  --font-monsterrat: "Montserrat, serif";
  font-family: var(--font-monsterrat);
  color: white;
  background-color: #0d0c0f;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 36px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 36px;
  background: linear-gradient(#d4d3d3, #777676);
}

button {
  transition: all ease 0.2s;
}

input:-webkit-autofill {
  background-color: transparent !important;
  color: inherit !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent !important;
  -webkit-text-fill-color: inherit !important;
}
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent !important;
  -webkit-text-fill-color: inherit !important;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}
